<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="{% static 'images/best-about-us-pages.jpg' %}" width="100%" height="400px">
<center><h2 style="font-size:30px;"><b>
    Paradise of Books</b></h2>
    Readings is an independent retailer of books and music, with eight shops operating in Melbourne. The flagship Readings Carlton shop was established in 1969 and has since been joined by stores in Hawthorn, Malvern, St Kilda and Doncaster, as well as a boutique shop at the State Library of Victoria, and – most recently – a shop in Emporium Melbourne. We also have a children’s specialist shop located in Carlton, Readings Kids.
The original shop at 366 Lygon Street was founded by Dot and Ross Reading, along with Peter Reid. The store was partly funded out of Dot’s teaching wage and, interestingly, after a particularly busy day, the shelves were known to have occasionally been restocked from Ross and Dot’s own private bookshelves at home.
Mark Rubbo was the owner of Lygon Street’s Professor Longhairs’ Music Shop when he bought the business in 1976, along with partners Greg Young and Steve Smith (who owned the South Yarra Record Collector and ran a mail-order music business respectively). In 1983, the shop moved to larger premises on Lygon Street and, throughout the 80s and 90s, business boomed, leading to a final move in 1998 to the former Commonwealth Bank building across the road. Mark is today recognised as one of the book trade’s leading authorities and was awarded a Medal of the Order of Australia (OAM) for service to the community through fostering an awareness of Australian literature as a bookseller.
Today, each Readings shop retains its own individual character and strong ties to the local community. Our shops continue to be at the centre of the local literary scene, both as meeting places and via our exciting calendar of events. As a cornerstone of the Australian literary landscape, Readings takes seriously its role in growing and sustaining local industries; since 2009 10% of our annual profits going towards The Readings Foundation. Readings also support new and outstanding Australian voices through The Readings Prize. The prize supports emerging Australian authors through annual awards covering three separate categories of fiction, including Children’s, Young Adult and New Australian Fiction.
</p>
</center>
<center style="margin-bottom:130px;">
<img src="{% static 'images/3 mistake of my life.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
<img src="{% static 'images/fantastic.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
<img src="{% static 'images/i-know.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
<img src="{% static 'images/laby.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;<br><br>
<img src="{% static 'images/tell me a story.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
<img src="{% static 'images/come closer.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
<img src="{% static 'images/wings.jpg' %}" height="300px;" width="330px;">&nbsp;&nbsp;&nbsp;
    </center>
{% endblock %}